<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.clancychilds.alfred-bamboohr</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0D389751-3E06-47AF-A461-9A44FF8130F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5E3B462-9B56-4834-B92A-DC535752A52E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Clancy Childs</string>
	<key>description</key>
	<string>Find an employee in the BambooHR Directory</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BambooHR Directory Lookup</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bamboo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python3 bamboo.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for employees in BambooHR</string>
				<key>title</key>
				<string>BambooHR Lookup</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0D389751-3E06-47AF-A461-9A44FF8130F7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A5E3B462-9B56-4834-B92A-DC535752A52E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred BambooHR Directory Lookup
by Clancy Childs
https://github.com/clancychilds/alfred-bamboohr

This workflow allows you to search the BambooHR directory for an employee by their name (first or last).

When you select the resulting employee record, it will download a photo of the employee (Hopefully this will be fixed in a coming version to just display the photo rather than download it. It is a bug with BambooHR.)
If you press ⌘+C on a selection, it will copy the user's name and email address to the clipboard.

The API response is cached for 24 hours, so it might not always have someone who has joined the org in the past day.

Setup:
You must correctly input the following two Workflow Environment Variables into the workflow's settings panel:

	subdomain: The subdomain used to access your account (If you 	access BambooHR at https://mycompany.bamboohr.com, then the 	subdomain is "mycompany")

	apiKey: To generate an API key, users should log in and click 	their name in the upper right-hand corner of any page to get 	to the user context menu. If they have sufficient permissions, 	there will be an "API Keys" option in that menu to go to the 	page.

Usage:
Trigger Alfred and enter `bamboo` followed by the beginning of a first or last name that you are searching for.</string>
	<key>uidata</key>
	<dict>
		<key>0D389751-3E06-47AF-A461-9A44FF8130F7</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>A5E3B462-9B56-4834-B92A-DC535752A52E</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>apiKey</key>
		<string></string>
		<key>subdomain</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>apiKey</string>
		<string>subdomain</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/clancychilds/alfred-bamboohr</string>
</dict>
</plist>
